<table class="table produstable">
    <tr>
      <td><h3>Edit {{produs.name}}</h3></td>
      <td></td>
    </tr>
    <tr>
      <td>Product Title</td>
      <td>{{produs.name}}</td>
    </tr>
    <!-- <tr>
      <td>Director</td>
      <td>{{produs.director}}</td>
    </tr>
    <tr>
      <td>Release Year</td>
      <td>{{produs.releaseYear}}</td>
    </tr>
    <tr>
      <td>Produs Genre</td>
      <td>{{produs.genre}}</td>
    </tr> -->
  </table>
  <div>
    <a class="btn btn-primary" ui-sref="editProdus({id:produs.id})">Edit</a>
  </div>