<table class="table produdustable">
    <tr>
      <td><h3>Edit {{produdus.product_type}}</h3></td>
      <td></td>
    </tr>
    <tr>
      <td>Product Title</td>
      <td>{{produdus.product_type}}</td>
    </tr>
    <tr>
      <td>quantity</td>
      <td>{{produdus.quantity}}</td>
    </tr>
    <tr>
      <td> cross</td>
      <td>{{produdus.cross}}</td>
    </tr>
    <tr>
      <td>Product price</td>
      <td>{{produdus.price}}</td>
    </tr>
  </table>
  <div>
    <a class="btn btn-primary" ui-sref="editProdudus({id:produdus.id})">Edit</a>
  </div>